html,
body{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    overflow-x: hidden;
    width: auto;

}

.center{
    text-align: center;
}

.t-banner{
    font-size: 12px;
    line-height: 18px;
    color: #2B2B2B;
    text-align: right;
    margin-right: 8%;
}

.pad-header{
    padding-left: 9.5rem;
    padding-right: 9rem;
}

.pad-header-li{
    padding-left: 2rem !important;
}

.nav-link.active{
    text-decoration: underline !important;
}

.partition{
    margin-top: 50px;
    margin-bottom: 30px;
}


.txt-1{
    font-size: 0.875rem;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #555555;
}

.txt-2{
    font-weight: 600;
    font-size: 2.125rem;
    line-height: 51px;
    text-align: center;
    color: #2B2B2B;
}

.txt-3{
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
    color: #2B2B2B;
    flex: none;
    order: 0;
    align-self: flex-start;
    margin: 0px 10px;
    padding: auto;
}

.txt-head{
    font-weight: 600;
    font-size: 2.125rem;
    line-height: 51px;
    display: flex;
    align-items: center;
    color: #2B2B2B;
}

.txt-detail{
    font-size: 1rem;
    line-height: 24px;
    color: #2B2B2B;
    flex: none;
    order: 0;
    align-self: flex-start;
    margin: 0px 10px;
}

.txt-subs{
    font-size: 1.75rem;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #2B2B2B;
}

.main-footer{
    color: #2B2B2B;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-left: 7%;
}

.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap{
    flex: 1;
}

.li-fo{
    font-size: 0.875rem;
    line-height: 21px;
    color: #2B2B2B;
    flex: none;
    order: 0;
    align-self: flex-start;
    margin-top: 18px;
}

.lo-fo{
    margin-top: 14px;
}

.b1{
    background: #155799;
    border-radius: 5px;
    padding: 15px 30px;
}

.i1{
    margin-left: 0px;
}

.ml25{
    margin-left: 35%;
}

.mls25{
    margin-left: 35%;
}
.bg-blue{
    background: linear-gradient(261.67deg, #159957 0%, #155799 100%);
}

.w-100{
    min-width: 100%;
}

.white{
    color: white;
    border-color: white;
}

.sb{
    font-weight: 600;
    font-size: 2.625rem;
    line-height: 63px;
    color: #2B2B2B;
}

.content-mobile{
    display: none;
}
.content-desktop{
    display:block;
}

.mb3{
    margin-bottom: 75px;
}

.cont3{
    margin-top: 100px;
}

.section-pad{
    padding-top: 100px;
    padding-bottom: 150px;
}

.section-pad-2{
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-pad-2{
    padding-top: 75px;
    padding-bottom: 75px;
}

.mthead{
    margin-top: 50px;
}

.mlhead{
    margin-left: 300px;
}

.blog-mb{
    margin-top: 100px;
    margin-bottom: 50px;
}

.h-banner{
    text-align: end !important;
}
/* MOBILE */
@media (max-width: 600px) {
    body{
        max-width: auto;
    }

    .show{
        display: flex;
    }

    br{
        display: none;
    }
    .partition{
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .resp{
        max-width: 320px;
    }

    .content-mobile{
        display: block;
    }
    .content-desktop{
        display:none;
    }
    
    .mob-resp{
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .pad-header{
        padding-left: 0.5rem;
        padding-right: 1rem;
    }

    .pad-header-li{
        padding-left: 1rem !important;
    }

    .mthead{
        margin-top: 30px;
    }

    /* SEC 1 */
    .i1-mob{
        width: 340px;
        height: 243.52px;
    }

    .i1{
        margin-left: 10px;
    }

    .sb{
        font-size: 1.5rem;
        line-height: 36px;
        display: flex;
        align-items: center;
    }

    .b1{
        width: 45%;
    }

    /* SEC 2 */
    .txt-2{
        text-align: left;
        font-size: 1.5rem;
        max-width: 250px;
        line-height: 36px;
    }

    .ml25{
        margin-left: 0%;
    }

    .txt-3{
        text-align: left;
        max-width: 300px;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .justify-content-center{        
        justify-content: flex-start !important;
    }

    .mlp5{
        margin-left: 0.2%;
    }

    /* SEC 3 */
    .head1{
        font-size: 1.5rem;
        max-width: 250px;
    }

    .mb3{
        margin-bottom: 75px;
    }

    .cont3{
        margin-top: 20px;
    }

    /* SUBS */
    .txt-subs{
      font-size: 1.5rem;
      line-height: 36px;
      display: flex;
      align-items: center;
      text-align: center;
      width: 95%;
      margin-bottom: 35px;
    }

    /* footer */
    .no-flex{
        flex-basis:auto ;
    }

    .blog-mb{
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .main-footer{
        padding-left: 0%;
        padding-top: 1.5em;

    }
}

/* IPHONE */
@media (max-width: 350px) {
    body{
        max-width: auto;
    }
    .resp{
        max-width: 290px;
    }

    .content-mobile{
        display: block;
    }
    .content-desktop{
        display:none;
    }
    
    .mob-resp{
        width: 100%;
        max-width: 280px;
        height: auto;
    }

    /* SEC 1 */

    .sb{
        font-size: 1.5rem;
        line-height: 36px;
        display: flex;
        align-items: center;
    }

    .b1{
        width: 40%;
    }

    .i1{
        margin-left: 0px;
    }
}