.header {
  height: 5rem;
  // padding: 0 10.3rem;

  &__nav-item {
    font-weight: normal;

    .active {
      border-bottom: 2px solid #2B2B2B !important;
      font-weight: 600;
    }

    a.nav-link {
      text-decoration: none !important;
    }
  }

  &__logo {
    height: 60px;
  }
}


// @media (max-width:500px) {
//   .header {
//     // padding: 0 1.4rem;
//   }
// }

// @media (max-width:768px) {
//   .header {
//     // padding: 0 1.4rem;
//   }
// }